@media (min-width: 66.5rem) {
  .site-nav, .site-header, .site-footer {
    width: 260px;
  }
  .side-bar {
    width: 26%;
  }
  .main {
    margin-left: 26%;
    max-width: 60%;
  }
  .site-header {
    border-bottom: none;
  }
}


@media (min-width: 50rem) {
  .side-bar {
    width: 30%;
  }
  .main {
    margin-left: 30%;
  }
  .site-header {
    border-bottom: none;
  }
  .nav-list {
    margin-left: 10px;
  }
}

body, html {
  //font-size: 1.1rem;
}

a {
  //color: #005ed1;
}

a[href^='http'] {
	padding-right: 1.25em;
}

a[href^='http']::after {
	position: absolute;
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-left: 0.25em;
	background-size: 100%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.2 12.2' width='14' height='14'%3E%3Cpath d='M5.7 0v1.5h4L4.5 6.7l1 1.1 5.3-5.2v3.9h1.4V0z'/%3E%3Cpath fill='none' d='M3.4 6.7l3-2.9H1.5v7h7V5.9l-3 2.9z'/%3E%3Cpath d='M8.5 5.9v4.9h-7v-7h4.9l1.5-1.6H0v10h10V4.4z'/%3E%3C/svg%3E");
	transform: translateY(0.25em);
}

.site-header {
  min-height: 200px;
  max-height: 260px;
  height: 260px;
  border-bottom: none;
}

.site-logo {
  background-position: center;
}

.site-nav {
  padding-top: 0;
  padding-bottom: 0;
}

.site-title {
  padding: 0;
}

.main-content a {
  white-space: normal;
}

.main-content img {
  max-width: 100%;
}

.side-bar {
  background-color: #e5f7f0;
}

.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
  background-image: linear-gradient(-90deg, #fff 0%, rgba(235, 237, 245, 0.8) 80%, rgba(235, 237, 245, 0) 100%);
}

.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active, .nav-list .nav-list-item .nav-list-link {
  padding-left: 0;
}

#globalFooter {
  padding: 10px;
  background-color: #d5f2e6;
  font-size: 0.8rem;
  border-radius: 14px;
}

#globalFooter img {
  float: left;
  margin: 5px 20px 5px 5px;
  max-width: 150px;
  width: 15%;
}

footer .utterances {
  max-width: 100%;
}

footer.site-footer {
  padding-left: 0;
  padding-right: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/*

.search-input {
  color: #fff;
}

.site-title {
  padding: 0;
}

.site-nav, .site-footer {
  background-color: #282661;
}

.main-content a {
  white-space: normal;
}

.main-content-wrap, .main-header {
  !* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#261f4f+0,3e3d44+100 *!
  background: #201c38; !* Old browsers *!
  background: -moz-linear-gradient(left, #201c38 0%, #222128 100%); !* FF3.6-15 *!
  background: -webkit-linear-gradient(left, #201c38 0%, #222128 100%); !* Chrome10-25,Safari5.1-6 *!
  background: linear-gradient(to right, #201c38 0%, #222128 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#201c38', endColorstr='#222128', GradientType=1); !* IE6-9 *!
}*/
