<p id="last-modified"></p>

<p>For any help or comments, please ask a question on our <a href="https://trailhead.salesforce.com/trailblazer-community/groups/0F94S000000HEDASA4" target="_blank">Trailblazer Community group</a>.</p>

<div id="globalFooter" class="clearfix">
    <img src="{{ site.site_root }}/assets/images/OSC-badge.png" class="clearfix"/>
    Salesforce Indicators is a proud member of the
    <a href="https://powerofus.force.com/s/article/SFDO-OSC-Get-Started" target="_blank">Salesforce.org Open Source Commons</a>.
    Open Source Commons is a community of mission-driven individuals working together to solve the world's most challenging problems.
    We do this by actively listening to each other, educating each other, and bringing our passion, experience, and technical know-how to projects that can be
    replicated and shared throughout the Salesforce ecosystem. We work to remove barriers to entry so that everyone can be a part of this vision.
    <br/>
    <p>Copyright 2023, Salesforce.org. All rights reserved. Use of this source code is governed by a <a href="https://github.com/SFDO-Community-Sprints/sfdo-community-sprints.github.io/blob/main/LICENSE">BSD Revised license</a>.</p>
</div>
